


.top-picks-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.top-picks-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
  z-index: 1;
}

.top-picks-button:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.top-picks-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  clip-path: inset(0 0 0 10%); /* Adjust the inset value to shift the line to the right */
}


  .update-log-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.update-log-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
  z-index: 1;
}

.update-log-button:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.update-log-button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  clip-path: inset(0 0 0 10%); /* Adjust the inset value to shift the line to the right */
}

  .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #2d2b2b;
}
.container {
  text-align: center;
}
 body{
  color: #777;
 }
.game-links {
  text-align: center;
}
.game-link {
  margin: 15px 0;
}
a:link{
color:white;
}
.game-description {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}
a {
  text-decoration: none;
  color: #fff;
}
hr {
  width: 100%;
  border: 1px solid #ccc;
}
footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
.request-button {
          display: inline-block;
          padding: 12px 24px;
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #333;
          background-color: #fff;
          border: 2px solid #333;
          border-radius: 50px;
          text-align: center;
          text-decoration: none;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          transition: color 0.3s, border-color 0.3s, background-color 0.3s;
      }

      .request-button::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s;
          z-index: 1;
      }

      .request-button:hover {
          color: #fff;
          background-color: #333;
          border-color: #333;
      }

      .request-button:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
          clip-path: inset(0 0 0 10%); /* Adjust the inset value to shift the line to the right */
      }
.text-pop-up-top {
  animation: text-pop-up-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  text-align: center;
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.slide-in-left {
-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-8-27 19:46:36
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation slide-in-left
* ----------------------------------------
*/
@-webkit-keyframes slide-in-left {
0% {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
}
@keyframes slide-in-left {
0% {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
}
a:link {
color: rgb(217, 202, 202);
background-color: transparent;
text-decoration: none;
}

body{
background-color: #2d2b2b;
}


   
